@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');

body {
  font-family: 'Saira Stencil One', cursive;
  text-align: center;
  background-image: url("cryp.jpg");
  background-size:115%;
}
  
   h1 {
    text-align: center;
    color: black;
    font-size: 90px;
    animation: 4s h1 infinite;
    text-shadow: 3px 2px red;
    }
  h2{
text-align: center;
    color: yellow;
    font-size: 30px;
    text-shadow: 3px 2px red;
    
    /*margin: auto;*/
    text-decoration: none;
    display: inline-block;
  }
  h2:hover{
    color: black;
    transition: 0.5s
  }
  h2:active{
    color: white;
    size:15px;
  }
  @keyframes h1{
    0%{
      color:green;
    }
    25%{
      color:red;
    }
    50%{
      color: blue;
    }
    75%{
      color: yellow;
    }
    100%{
      color: green;
    }

    