@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap%27');
body {
    font-family: 'Saira Stencil One', cursive;
    text-align: center;
    background-image: url("cryp.jpg");
    background-size: 120%;
    color: black;
}

h1 {
    text-align: center;
    color: black;
    font-size: 40px;
    animation: 4s h1 infinite;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f1f1c1;
}